IA.json
{
  "name": "IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "teste",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        -80
      ],
      "id": "a7cbf25b-1272-412b-bc28-1845a21d322c",
      "name": "Webhook",
      "webhookId": "49b999c4-616b-41a1-8cd5-022a7479306c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2697e092-bac8-41fe-b574-5bbc7d2528f7",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.statuses }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -80
      ],
      "id": "cd2b2827-df4e-4ac4-a2bf-07609e10e789",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        -176
      ],
      "id": "be7e339b-41a4-4f87-b56d-fee38da5a6ba",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebfb201f-895a-4c49-9d7c-7310e7d9b85b",
              "name": "nome",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "2693cea5-ee83-4b26-941f-763c722fc3d4",
              "name": "telefone",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "d16db059-1dfb-48ef-8df2-c696ff01ff25",
              "name": "mensagem_tipo",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "9d8d48f4-eb31-4de1-879e-5abaede0db74",
              "name": "mensagem_texto",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "22f9c787-ff1c-4ac1-99de-3b64d7a3d2fe",
              "name": "mensagem_audio",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].audio.id }}",
              "type": "string"
            },
            {
              "id": "0182e76a-c320-47c1-9a13-246662113914",
              "name": "mensagem_imagem",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].image.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        16
      ],
      "id": "6aed38ab-c2e2-4702-8840-136d6b106fd1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Clientes WhatsApp",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        16
      ],
      "id": "2ad9bb77-af54-4176-8814-de2289393b78",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QNzR2CyhNai70Lxh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a06bc67-5615-491c-b9aa-83105fefe26c",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        16
      ],
      "id": "97e8ebdd-51ba-4841-aee2-1ca1fa140379",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "Clientes WhatsApp",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Edit Fields').item.json.telefone }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Edit Fields').item.json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        96
      ],
      "id": "ac3d68c9-ba10-4d72-9ad1-49412f6a9c3f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "QNzR2CyhNai70Lxh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.mensagem_tipo }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9c37b95b-bf50-44c6-8049-f31fcbf0a33a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "28eb4b79-f081-4690-b825-633881146b8e",
                    "leftValue": "={{ $('Edit Fields').item.json.mensagem_tipo }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b77fa4de-43c3-435f-bf7d-0b0083a76beb",
                    "leftValue": "={{ $('Edit Fields').item.json.mensagem_tipo }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1216,
        0
      ],
      "id": "934fc91c-200d-4398-b9c2-a7ddf9a82437",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1888,
        -176
      ],
      "id": "9075862e-5af2-446a-87f4-3ad48fe580f5",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/ {{ $('Edit Fields').item.json.mensagem_audio }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAUWWYWAXJYBPx1oUqYNYS07BjcK1y7M9sOvcokBdPGUzgUJgQPa8VIllH6QZBP4iHZChMZALJbEW5oHkpwe0ZCuquZCgpZBRaoqClG7Tbu53TBVs6Fz1KUCLkN426gHza849ByKsXyZByLC25kjYwoOO5IhsXPYXgki123pWzvZBoACrO9kA31dOe0tcm4dvTMJaQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        16
      ],
      "id": "50c4cab5-a450-4465-bc1d-469a272b9495",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/ {{ $('Edit Fields').item.json.mensagem_imagem }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAUWWYWAXJYBPx1oUqYNYS07BjcK1y7M9sOvcokBdPGUzgUJgQPa8VIllH6QZBP4iHZChMZALJbEW5oHkpwe0ZCuquZCgpZBRaoqClG7Tbu53TBVs6Fz1KUCLkN426gHza849ByKsXyZByLC25kjYwoOO5IhsXPYXgki123pWzvZBoACrO9kA31dOe0tcm4dvTMJaQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        208
      ],
      "id": "4377158c-5aef-4116-aa04-26f24aa592d8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAUWWYWAXJYBPx1oUqYNYS07BjcK1y7M9sOvcokBdPGUzgUJgQPa8VIllH6QZBP4iHZChMZALJbEW5oHkpwe0ZCuquZCgpZBRaoqClG7Tbu53TBVs6Fz1KUCLkN426gHza849ByKsXyZByLC25kjYwoOO5IhsXPYXgki123pWzvZBoACrO9kA31dOe0tcm4dvTMJaQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        208
      ],
      "id": "d7eea662-9c10-4b98-9213-61a69e18c6cd",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Descreva essa imagem de forma detalhada.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1888,
        208
      ],
      "id": "fa320767-e165-4618-9c65-9dda0c6f9980",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "yk295ghAjX1xCodu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAUWWYWAXJYBPx1oUqYNYS07BjcK1y7M9sOvcokBdPGUzgUJgQPa8VIllH6QZBP4iHZChMZALJbEW5oHkpwe0ZCuquZCgpZBRaoqClG7Tbu53TBVs6Fz1KUCLkN426gHza849ByKsXyZByLC25kjYwoOO5IhsXPYXgki123pWzvZBoACrO9kA31dOe0tcm4dvTMJaQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        16
      ],
      "id": "631a631a-ea0c-44d7-b654-83e73f6a1dbb",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1888,
        16
      ],
      "id": "023a6737-0fb0-4008-a5c1-c8c9f173de7c",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "yk295ghAjX1xCodu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa9aee81-b398-4287-aa6f-70345300faed",
              "name": "mensagem",
              "value": "={{ $json.content || $json.text || $('Edit Fields').item.json.mensagem_texto}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        16
      ],
      "id": "8cd44592-c791-4053-a25f-64d271369647",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json.telefone }}",
        "messageData": "={{ $json.mensagem }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2336,
        16
      ],
      "id": "05a9eafc-497a-438f-856d-a2f36150a53a",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "rjOlvOTQ8BUVbBpR",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2560,
        16
      ],
      "id": "7f90ba90-fc03-444a-b285-8d67dd2d9793",
      "name": "Wait",
      "webhookId": "feb22ad7-17b7-42c4-a791-6ac3cef5a951"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Edit Fields').item.json.telefone }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2784,
        16
      ],
      "id": "ec404bd7-1ae7-4bf1-95d5-f2174d75f8ab",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "rjOlvOTQ8BUVbBpR",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d599dda-33f3-4b8d-a025-045da726e63f",
              "leftValue": "={{ $json.propertyName.last() }}",
              "rightValue": "={{ $('Edit Fields1').item.json.mensagem }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3008,
        16
      ],
      "id": "179d39f3-edd5-4c9d-96a3-a400d9ca6c08",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3232,
        112
      ],
      "id": "57872d4b-8784-4208-a34f-fb1daee30f19",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3d39488-0877-4c70-8f30-7055ad7dcc63",
              "name": "mensagens",
              "value": "={{ $json.propertyName.join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        -80
      ],
      "id": "baa56521-3979-4a0e-8565-c2af94adef9b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3456,
        -80
      ],
      "id": "f94c98cf-8531-4f7c-8ea9-79693b3a537a",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "rjOlvOTQ8BUVbBpR",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagens }}",
        "options": {
          "systemMessage": "=## Papel\nVocê é o **assistente principal de IA do engenheiro Luis Fernando Boff**, profissional especializado em **engenharia elétrica, energia solar, ciência de dados e desenvolvimento full stack**.  \nVocê atua como uma **secretária inteligente e consultora técnica**, capaz de **ouvir, entender o contexto e direcionar o cliente** para a solução mais adequada — seja um projeto, consultoria, parceria ou serviço técnico.  \n\nSeu tom é **acolhedor, profissional e seguro**, transmitindo a credibilidade do Luis e mostrando que ele é um especialista completo, mas com foco em **entender primeiro o cliente** antes de apresentar qualquer serviço.\n\nVocê possui uma **tool auxiliar chamada “subagente de diagnóstico”**, que pode ser usada quando precisar **descobrir a área certa do cliente** (Energia Solar, Ciência de Dados ou Desenvolvimento).  \nUse essa tool quando o visitante ainda **não deixou claro o tipo de necessidade** ou quando houver **dúvida entre áreas técnicas**.  \n\n---\n\n## Instruções de Atendimento\n\n### 1. Cumprimente e peça o nome\n> “Olá, tudo bem? Seja bem-vindo! Qual é o seu nome?”\n\n### 2. Descubra o motivo do contato\n> “Prazer em te conhecer, [nome]! Me conta um pouco — o que te trouxe até aqui hoje? Você está buscando ajuda com algum projeto, consultoria ou ideia específica?”\n\n---\n\n### 3. Entenda o contexto com empatia\n- Faça **perguntas abertas**, sem sugerir serviços ainda.  \n- Mostre interesse genuíno e tente **entender a dor ou objetivo** do cliente.  \n\n> “Entendi. Você poderia me explicar um pouco melhor o que gostaria de resolver ou criar?”  \n> “É algo mais voltado à parte técnica, estratégica ou de implementação?”\n\nSe o contexto **ainda não estiver claro**, acione a **tool de subagente de diagnóstico**.  \nEle fará perguntas direcionadas e te devolverá a **área ideal (Energia Solar, Ciência de Dados ou Desenvolvimento)** para prosseguir o atendimento corretamente.\n\n---\n\n### 4. Após identificar a área\nConfirme de forma natural, sem listar opções:\n> “Perfeito, isso se encaixa exatamente na linha de projetos que o Luis desenvolve nessa área. Ele costuma trabalhar desde o diagnóstico até a implementação completa.”\n\nEntão, apresente o tipo de serviço correspondente:\n- **Energia Solar:** projetos de geração fotovoltaica, dimensionamento, instalação, manutenção e consultoria.  \n- **Ciência de Dados:** automações, análises, dashboards, machine learning e soluções com IA.  \n- **Desenvolvimento:** sistemas web, integrações, SaaS, APIs e automações personalizadas.\n\n---\n\n### 5. Esclareça dúvidas com segurança\n- **Prazo:** “O tempo depende da complexidade, mas o diagnóstico inicial é rápido.”  \n- **Custo:** “Os valores são definidos após entender o escopo. O Luis envia uma proposta personalizada.”  \n- **Atendimento:** “Pode ser online ou presencial, dependendo da localidade.”  \n- **Equipe:** “Os projetos integram engenharia elétrica, dados e desenvolvimento, garantindo soluções completas e sob medida.”\n\n---\n\n### 6. Finalize com um próximo passo claro\n> “Quer que eu agende uma conversa inicial gratuita com o Luis pra entender melhor o seu caso?”  \n>  \n> “Posso te enviar o link direto para solicitar um orçamento pelo site?”\n\nEncaminhe o cliente com naturalidade, sem pressão.\n\n---\n\n## Regras Gerais\n- Linguagem **consultiva, empática e técnica na medida certa**.  \n- **Sem emojis.**  \n- Priorize **entender antes de oferecer**.  \n- Evite listar áreas ou serviços até compreender a necessidade.  \n- Use o **subagente de diagnóstico** sempre que houver dúvida sobre a área correta.  \n- Encaminhe para o **atendimento humano** se o cliente quiser detalhes técnicos, proposta formal ou reunião direta com o Luis.  \n\n---\n\n## Objetivo Final\nTransformar cada interação em uma **conversa de confiança**.  \nO cliente deve sentir que falou com **um especialista de verdade**, representado por um assistente inteligente, capaz de unir **engenharia, tecnologia e inteligência de dados** para encontrar a melhor solução para o seu caso.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3952,
        -80
      ],
      "id": "b5c23df6-a3cf-41fe-8dcc-bf16d2873c9c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3680,
        144
      ],
      "id": "f579ac10-438f-4e0b-afbf-a6bd77933f21",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "2dDCdI6Um504Wrxx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Você é um agente formatador de mensagens para WhatsApp. Sua única função é dividir a mensagem recebida em múltiplas mensagens curtas, naturais e bem estruturadas. Siga as regras abaixo com rigor:\n\n1. Sempre que possível, divida a mensagem original em 2 ou mais mensagens menores.\n2. A cada nova mensagem gerada, aplique exatamente **duas quebras de linha reais** (\\n\\n) no final do bloco. Nunca ultrapasse esse número de quebras de linha.\n3. Mantenha frases inteiras e compreensíveis em cada mensagem. **Nunca divida frases no meio** ou quebre a fluidez.\n4. Se houver listas, bullets ou tópicos numerados, **não quebre ou interrompa a estrutura da lista**. Trate cada lista como uma única mensagem.\n\n### NUNCA JAMAIS ALTERE O CONTEUDO DA MENSAGEM!\n\n5. **NUNCA gere ou altere o conteúdo** da mensagem original. Seu trabalho é apenas dividir e formatar a mensagem recebida para nós as enviarmos de forma natural no WhatsApp, NUNCA altere o conteúdo original da mensagem recebida.\n6. Sempre divida as mensagens utilizando \\n\\n ao final de cada uma delas.\n\n### Exemplo\nQ: Oi! Tudo bem, e com você? Como posso ajudar?\nA:\nOi!\n\nTudo bem, e com você?\n\nComo posso ajudar?\n\nQ: Boa noite! Tudo certo? Como você está?\nA:\nBoa noite!\n\nTudo certo?\n\nComo você está?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4720,
        -80
      ],
      "id": "7ed6abac-8ea8-4539-bdcf-d16bedf4030b",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4800,
        144
      ],
      "id": "d663a538-57ae-4a12-9308-4b97856b45f2",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "2dDCdI6Um504Wrxx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e10214d-992c-42a9-a1c0-70128f1bcb00",
              "name": "output",
              "value": "={{ $json.output.split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5072,
        -80
      ],
      "id": "cc1e5457-764f-47f6-b1cd-618e4076187a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5296,
        -80
      ],
      "id": "4ad68c05-1383-4707-ac63-20e1686dc211",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5520,
        -80
      ],
      "id": "c5d34bd3-7cb9-4810-9ed5-13694b5ddeac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        5744,
        -272
      ],
      "id": "b7d06a55-b44b-4324-91d5-e7d4c4151f5a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5744,
        -80
      ],
      "id": "6439c360-edc9-415c-b244-af60c4ddd583",
      "name": "Wait1",
      "webhookId": "8aa88357-70b5-4ff6-ad0b-b117eb85ab26"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "899639703222013",
        "recipientPhoneNumber": "={{ $('Edit Fields').item.json.telefone }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        5968,
        -16
      ],
      "id": "a0c852c5-31af-4b30-a15c-4acc73317c6f",
      "name": "Send message1",
      "webhookId": "331ec734-7055-4a52-9e58-abf9d6a7ee05",
      "credentials": {
        "whatsAppApi": {
          "id": "SjJOrfDiCwBDDJ3d",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Edit Fields').item.json.telefone}}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3808,
        144
      ],
      "id": "076c3b98-9ce6-4ab1-b9ae-e30a8103d0c4",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "JV99G5uIPpvX8Dfx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Descriação da tool: Utilize esse agente para buscar a area que mais se adequa a necessidade do cliente ",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=## Papel\nVocê é o **Subagente de Diagnóstico do Engenheiro Luis Fernando Boff**.  \nSeu papel é **entender a real necessidade do cliente por meio de perguntas consultivas** e **identificar automaticamente** qual área de atuação do Luis mais se encaixa no caso — **sem mencionar as áreas disponíveis no início da conversa**.  \n\nSomente após compreender o contexto, você confirma com naturalidade a área que mais se adequa e direciona o cliente ao atendimento técnico correspondente.\n\nAs áreas disponíveis são:\n- **Energia Solar** — [https://www.luisfboff.com/portfolio/energia-solar/](https://www.luisfboff.com/portfolio/energia-solar/)  \n- **Ciência de Dados** — [https://www.luisfboff.com/portfolio/ciencia-dados/](https://www.luisfboff.com/portfolio/ciencia-dados/)  \n- **Desenvolvimento** — [https://www.luisfboff.com/portfolio/desenvolvimento/](https://www.luisfboff.com/portfolio/desenvolvimento/)\n\n---\n\n## Objetivo\n1. **Entender o motivo do contato** — o que o cliente quer resolver, melhorar ou construir.  \n2. **Fazer até 3 perguntas contextuais** para compreender o cenário técnico, metas e desafios.  \n3. **Analisar o contexto e classificar internamente** o interesse principal em uma das áreas (Energia Solar, Ciência de Dados ou Desenvolvimento).  \n4. **Confirmar de forma natural**, explicando o que o Luis pode fazer dentro dessa área.  \n5. **Encaminhar** o cliente para o agente ou página correspondente, já contextualizado.\n\n---\n\n## Diretrizes de Diagnóstico\n\n### 1. Descubra o contexto\n- Comece sempre pedindo que o cliente explique brevemente o que deseja.  \n  > “Claro, posso te ajudar com isso. Você pode me contar um pouco mais sobre o que está buscando resolver ou criar?”\n\n### 2. Faça perguntas de diagnóstico\nUse perguntas abertas e neutras, sem citar áreas específicas:\n- “Esse projeto é voltado mais para sua empresa, residência ou cliente final?”\n- “O que você espera alcançar com essa solução?”\n- “Você já tem algo em funcionamento ou seria algo novo do zero?”\n- “Quer algo mais técnico, automatizado ou visual?”\n\n### 3. Interprete o tipo de necessidade\n**Analise as palavras-chave e intenções:**\n- Fala sobre *painéis, inversores, consumo, energia, instalação* → **Energia Solar**\n- Fala sobre *dados, relatórios, IA, machine learning, dashboards, análise* → **Ciência de Dados**\n- Fala sobre *sites, automações, sistemas, plataformas, integrações* → **Desenvolvimento**\n\n### 4. Confirme com naturalidade\nQuando identificar a área, valide de forma consultiva, sem listar opções:\n> “Entendi perfeitamente. Pelo que você descreveu, isso se encaixa na linha de projetos que o Luis desenvolve voltados a [**área identificada**]. Ele pode te ajudar desde o planejamento até a implementação completa.”\n\n### 5. Direcione o próximo passo\nFinalize de forma leve e orientada à ação:\n> “Posso te direcionar agora para o atendimento técnico nessa área pra entender melhor o seu caso e montar a proposta?”  \nOu:  \n> “Quer que eu te envie o link direto pra ver alguns projetos semelhantes que o Luis já realizou?”\n\n---\n\n## Regras\n- **Nunca mencione as três áreas logo de início.**\n- Conduza a conversa com naturalidade, como um consultor técnico experiente.\n- Use linguagem **humana, calma e profissional** — sem parecer robótico ou genérico.\n- **Não ofereça nada antes de entender o contexto.**\n- Sempre confirme o entendimento antes de redirecionar o cliente.\n- Seja **confiante e empático**, transmitindo credibilidade e domínio técnico.\n\n---\n\n## Resultado Esperado\nO subagente deve entregar:\n- Um **resumo do que o cliente precisa** (em linguagem simples).  \n- Uma **classificação interna** da área de interesse (Energia Solar / Ciência de Dados / Desenvolvimento).  \n- Uma **mensagem final consultiva**, confirmando a área e sugerindo o próximo passo.  \n- (Opcional) o **link da página** correspondente para continuidade do atendimento.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3936,
        144
      ],
      "id": "c70b271b-430f-4f66-b3aa-2742b9054d1a",
      "name": "AI Agent Tool"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4016,
        352
      ],
      "id": "f8137298-b213-486a-99e1-130181c2ec8d",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "2dDCdI6Um504Wrxx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Nome da tool: dados \n\nDescrição da tool: Dados sobre os serviços oferecidos pelo Luis Fernando Boff ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        4224,
        144
      ],
      "id": "bbbc189f-bd2a-46e7-9d61-3924f6841bd1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "QNzR2CyhNai70Lxh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4304,
        352
      ],
      "id": "fd725d8a-798e-4ded-8b93-6b365784f028",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yk295ghAjX1xCodu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3728,
        656
      ],
      "id": "48c7fc00-6263-49ba-97f9-5424d8d40cf5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "description": "Nome da tool: Transferir atendimento\n\nDescrição da tool: Utilize essa tool para transfeiri o atendimento para um humano quando solicitado pelo usuario ou quanaod voce não souber responder uma pergunta ",
        "workflowId": {
          "__rl": true,
          "value": "sRlyxTAeIn6xV8wS",
          "mode": "list",
          "cachedResultUrl": "/workflow/sRlyxTAeIn6xV8wS",
          "cachedResultName": "IA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Edit Fields').item.json.telefone }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4512,
        144
      ],
      "id": "073939bb-ee7c-4ab0-ae5f-93db0763e7d8",
      "name": "Call 'IA'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a94f8a87-929c-42a0-89d4-8110471f7fee",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3936,
        656
      ],
      "id": "cc7767f9-b8d6-45ca-b4ad-7990f48c9707",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Clientes WhatsApp",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Transferido"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4144,
        656
      ],
      "id": "3476d00b-a30c-4793-a0f8-e4b7862d47f6",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "QNzR2CyhNai70Lxh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n_chat_histories",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{$json.telefone}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4352,
        656
      ],
      "id": "0b66371a-34a1-4ffc-a092-b121aadf5d49",
      "name": "Get many rows1",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "QNzR2CyhNai70Lxh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53440214-4688-4a72-a2b0-0edf694a0318",
              "name": "mensagens",
              "value": "={{ $json.message.type }}: {{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4560,
        656
      ],
      "id": "b06c477c-f125-4bb8-8199-3dbd3fcc8469",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensagens"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4768,
        656
      ],
      "id": "9a2474db-1ff3-43bd-b2c3-cc82a1ccc99e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagens }}",
        "options": {
          "systemMessage": "## Papel\nVocê recebeu um histórico de conversa entre um humano e um agente de IA. Seu trabalho é analisar a interação e gerar um resumo da conversa que será enviado diretamente à um atendente humano. Englobe os principais pontos da conversa, como interesse do aluno, dúvidas, nível atual e etc.\n\n## Instruções\n- Não adicione contexto ou explicações, retorne apenas o histórico de conversa.\n- As mensagens enviadas pelo humano iniciam com o prefixo \"human\", enquanto as mensagens enviadas pelo agente de IA contém o prefixo \"ai\".\n- Englobe todas as informações importantes, porém mantenha o resumo direto ao ponto."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4976,
        656
      ],
      "id": "9da8ed40-bdc9-4682-a834-a022675d9c5d",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4928,
        864
      ],
      "id": "1a716e59-a3c1-4e4e-bb90-3ce4f165f43d",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "2dDCdI6Um504Wrxx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "luisfboff@hotmail.com",
        "subject": "=Novo Leed aguardando contato",
        "emailType": "text",
        "message": "=Novo leed aguardando atendimento no WhatsApp.\n\nNome: {{ $('Update a row').item.json.nome }}\nTelefone:{{ $('Update a row').item.json.telefone }}\nResumo:{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5328,
        656
      ],
      "id": "744722b8-3613-48e9-8396-65e7fee6c7b5",
      "name": "Send a message",
      "webhookId": "6bd02cba-0a53-471f-b721-7c61382a5d98"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "luisfboff.app.n8n.cloud",
            "user-agent": "facebookexternalua",
            "content-length": "498",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2a03:2880:22ff:7::",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9942870006dc8651-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2a03:2880:22ff:7::, 104.23.209.102",
            "x-forwarded-host": "luisfboff.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-33-6b64989c5-5dgqt",
            "x-hub-signature": "sha1=6e1c8f3f9668883f07a16b5505b6357d6509a0c4",
            "x-hub-signature-256": "sha256=4a6355cce250a93bb7aa4a7cdb8e67ef280058dc54b67b06bd63a322be2ccff9",
            "x-is-trusted": "yes",
            "x-real-ip": "2a03:2880:22ff:7::"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "2018456492284219",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "555499567051",
                        "phone_number_id": "899639703222013"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Luis Fernando Boff"
                          },
                          "wa_id": "555499250023"
                        }
                      ],
                      "messages": [
                        {
                          "from": "555499250023",
                          "id": "wamid.HBgMNTU1NDk5MjUwMDIzFQIAEhgWM0VCMEE0Qzc4NTkyRTRGNDFFNEQzQQA=",
                          "timestamp": "1761403836",
                          "text": {
                            "body": "Voce me entende?"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://luisfboff.app.n8n.cloud/webhook/teste",
          "executionMode": "production"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "telefone": 555499250023
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Call 'IA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72834a97-39b5-4e52-b809-a41bc2ad8b76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90199ad1114d76842bced1477a2898aee5081031f54a0aa2f472bde0f1188ed7"
  },
  "id": "sRlyxTAeIn6xV8wS",
  "tags": []
}